/* Reset some default margin and padding */
html, body {
    margin: 0;
    padding: 0;
}

/* Style the container */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}




/* Add your custom styles here */
.image-container {
    background-image: url('./Assets/images/Frame 19.png');
    background-size: cover;
   background-position: center;
height: 100vh; /* Adjust the height as needed */
}
